body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    margin: 20px auto;
    width: 80%;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #008cba;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005f73;
}

#blockchain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    background-color: white;
    border: 2px solid #333;
    padding: 15px;
    margin: 10px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.block p {
    margin: 5px 0;
}
